* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.top__line {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
}

.logo {
  -ms-flex-preferred-size: 145px;
      flex-basis: 145px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo span {
  color: #2196F3;
}

.here {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #2196F3;
}

.top__menu {
  margin-left: 90px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.menu__item {
  -webkit-transition: all 0.1s ease-in-out 0.1s;
  transition: all 0.1s ease-in-out 0.1s;
  font-size: 14px;
  padding: 0px 20px;
  color: #2196F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.menu__item:hover {
  border-top: 2px solid #fff;
  cursor: pointer;
  border-bottom: 2px solid #2196F3;
}

.menu__item a {
  -webkit-transition: all 0.1s ease-in-out 0.1s;
  transition: all 0.1s ease-in-out 0.1s;
  color: #000;
}

.menu__item a:hover {
  color: #2196F3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 333px;
      flex-basis: 333px;
}

.contacts__item, a {
  color: #757575;
}

.contacts__item a:hover {
  color: #2196F3;
}

.contacts__item a:hover > .icons {
  fill: #2196F3;
}

.header {
  overflow: hidden;
  position: relative;
  background: url("../img/header/Img.png");
  height: 600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header__title {
  position: relative;
  z-index: 2;
  width: 600px;
  line-height: 60px;
  margin-bottom: 45px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.headr__btn {
  position: relative;
  z-index: 2;
  background: #2196F3;
  color: white;
  padding: 22px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.headr__btn:hover {
  background: #188CE8;
}

.title {
  color: #212121;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}

.benefits {
  margin: 0px -10px;
  margin-top: 60px;
}

.benefits__items {
  margin: 0px 10px 0px 10px;
}

.benefits__img-box {
  margin-bottom: 35px;
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #F5F4FA;
}

.benefits__icons {
  width: 70px;
  height: 70px;
}

.benefits__title {
  display: none;
}

.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__items {
  font-size: 14px;
}

.benefits__items_title {
  color: #212121;
  font-weight: bold;
  margin-bottom: 20px;
}

.benefits__items_subtitle {
  color: #757575;
}

.we-doing {
  padding-bottom: 100px;
}

.we-doing__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.we-doing__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.5);
}

.team {
  background: #F5F4FA;
  padding-bottom: 60px;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__items {
  padding-bottom: 30px;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  text-align: center;
  background: #fff;
}

.team__items img {
  width: 100%;
}

.neme {
  margin-top: 33px;
  margin-bottom: 18px;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
}

.profession {
  color: #757575;
  font-size: 16px;
  margin-bottom: 20px;
}

.social__items {
  margin: 0px auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__items div {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.social__items div:hover {
  fill: #fff;
  background-color: #2196F3;
  cursor: pointer;
}

.social__items div:hover > .social__icons {
  fill: #fff;
}

.social__icons {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  fill: #AFB1B8;
  width: 25px;
  height: 25px;
}

.partners {
  margin-bottom: 95px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__items {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 5px;
  border: 1px solid #AFB1B8;
}

.partners__items:hover {
  cursor: pointer;
  border: 1px solid #2196F3;
}

.partners__items:hover > .partners__icons {
  fill: #2196F3;
}

.partners__icons {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  fill: #AFB1B8;
  height: 60px;
}

.footer {
  font-size: 14px;
  padding: 65px 0px;
  background: #2F303A;
  color: #fff;
}

.footer__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__contacts {
  margin-right: 40px;
}
.footer__contacts > .icons{
fill:#fff;
}

.footer__social {
  width: 300px;
}

.footer__social > .social__items {
  margin-left: -10px;
}

.footer__social > .social__items > div {
  background-color: #44454E;
}

.footer__social div > .social__icons {
  fill: #fff;
}

.footer__social > .social__items > div:hover {
  opacity: 1;
  background-color: #2196F3;
}

.footer__contacts > .logo {
  text-align: left;
  color: #fff;
}

.addres {
  margin-top: 33px;
  margin-bottom: 16px;
}

.email, .phone {
  margin-top: 10px;
  opacity: 0.6;
}

.icons {
  margin-bottom: -5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  fill: #222;
}

.contacts__item:hover > .icons {
  fill: #2196F3;
}

.contacts__item:hover {
  color: #2196F3;
}

.portfolo {
  padding-top: 100px;
  padding-bottom: 60px;
}

.portfolio__filter {
  margin: 0px auto;
}

.portfolio__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.filter__items {
  background: #F5F4FA;
  font-size: 16;
  font-weight: 500;
  border-radius: 5px;
  padding: 13px;
  margin: 0px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.filter__items:hover {
  background: #2196F3;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.filter__items:hover > a {
  color: #fff;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__items {
  margin: 10px 0px;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  height: 370px;
  border: 1px solid yellow;
}
