*{
 padding: 0;
 margin: 0;
 border: 0;
}
*,*:before,*:after{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
// fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
body{
   font-family: 'Roboto', sans-serif;
   position:relative;
}
.container{
   width: 1170px;
   margin:0px auto;
}
.top__line{
   background:#fff;
   border-bottom:1px solid rgb(0, 0, 0,.2);
}
.top{

   display: flex;
   flex-direction: row;
   height: 80px;

}
.logo{
   flex-basis: 145px;
   text-align: right;
   font-family: 'Raleway', sans-serif;
   font-size:26px;
   font-weight: 400;
   color: #000;
   align-self:center;

}
.logo span{
   color: #2196F3;
}
.here{
       border-top:2px solid rgb(0, 0, 0,.0);
   border-bottom:2px solid #2196F3;
}
.top__menu{
   margin-left: 90px;
   flex-grow:1;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:stretch;
}
.menu__item{
   transition: all .1s ease-in-out .1s;
   font-size: 14px;
   padding:0px 20px;
   color:#2196F3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:stretch;
}
.menu__item:hover{
   border-top:2px solid #fff;
   cursor: pointer;
   border-bottom:2px solid #2196F3;
}
.menu__item a{
   transition: all .1s ease-in-out .1s;
   color: #000;
}
.menu__item a:hover{
  color:#2196F3;
}

.contacts{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-basis: 333px;
}
.contacts__item{
}
.contacts__item, a{
   color: #757575;
}
.contacts__item a:hover{
   color: #2196F3;
}
.contacts__item a:hover > .icons{
   fill: #2196F3;
}
.header{
   overflow: hidden;
   position:relative;
   background: url("../img/header/Img.png");
   height: 600px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
}
.overlay{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgb(0, 0, 0,.4);
}
.header__title{
   position:relative;
   z-index: 2;
   width: 600px;
   line-height: 60px;
   margin-bottom: 45px;
   font-size: 44px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;

}
.headr__btn{
   position:relative;
   z-index: 1;
   background:#2196F3;
   color: white;
   padding:22px 32px;
   border-radius:4px;
   font-size: 16px;
   font-weight:bold;
}
.headr__btn:hover{
   background:#188CE8;
}
///content--------
.content{}
.title{
   color: #212121;
   font-size: 36px;
   font-weight:bold;
   text-align: center;
   padding-top: 100px;
   margin-bottom: 60px;
}
.benefits{
   margin:0px -10px;
   margin-top: 60px; 

}
.benefits__items{
    margin:0px 10px 0px 10px;
}

.benefits__img-box{
   margin-bottom: 35px;
   width: 270px;
   height: 120px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   border-radius:5px;
   background-color:#F5F4FA;
   
}
.benefits__icons{
   width: 70px;
   height: 70px;
}
.benefits__title{
   display: none;
}
.benefits__box{

   display: flex;
   flex-direction: row;
   justify-content: center;
}
.benefits__items{
   font-size:14px;
}
.benefits__items_title{
   color: #212121;
   font-weight: bold;
   margin-bottom: 20px;
}
.benefits__items_subtitle{
   color: #757575;
}
// we-doing---------
.we-doing{
   padding-bottom: 100px;
}
.we-doing__title{}
.we-doing__img{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.we-doing__item{}
.we-doing__item:hover{
   cursor: pointer;
   box-shadow:1px 2px 13px rgb(0, 0, 0,.5);
}
// ------team ------
.team{
   background:#F5F4FA;
   padding-bottom: 60px;
}
.team__title{
}
.team__box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.team__items{
   padding-bottom: 30px;
   box-shadow:1px 2px 2px rgb(0, 0, 0,.2);
   border-radius:0px 0px 5px 5px;
   flex-basis:270px;
   text-align: center;
   background:#fff;
}
.team__items img{
   width: 100%;
}
.neme{
   margin-top: 33px;
   margin-bottom: 18px;
   color: #212121;
   font-size: 16px;
   font-weight: 600;
}
.profession{
   color: #757575;
   font-size: 16px;
   margin-bottom: 20px;
}
.social__box{

}
.social__items{
   margin:0px auto;
   width: 80%;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   align-items:center;

}
.social__items div{
   transition:all .5s ease-in-out .0s;
   display: flex;
   flex-direction:row;
   justify-content: center;
   align-items:center;
      border-radius:50%;
   width: 45px;
   height: 45px;

}
.social__items div:hover{
   
   fill: #fff;
   background-color:#2196F3;
   cursor: pointer;
}
.social__items div:hover>.social__icons{
   fill: #fff;
}
.social__icons{
   transition:all .2s ease-in-out .0s;
   fill:#AFB1B8;
   width: 25px;
   height: 25px;
}

// -------partners sector-------
.partners{
   margin-bottom: 95px;
}
.partners__title{}
.partners__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.partners__items{
   transition: all .5s ease-in-out .0s;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   width: 170px;
   height: 92px;
   border-radius: 5px;
   border: 1px solid #AFB1B8;
}
.partners__items:hover{
   cursor: pointer;
   border: 1px solid #2196F3;
}
.partners__items:hover > .partners__icons{
   fill: #2196F3;
}
.partners__icons{
   transition: all .5s ease-in-out .0s;
   fill:#AFB1B8;
   height: 60px;
}

// -----footer-----
.footer{
   font-size: 14px;
   padding:65px 0px;
   background:#2F303A;
   color: #fff;
}
.footer__title{
   color: #fff;
   text-transform: uppercase;
   font-weight: bold;
   font-size:14px;
   margin-bottom: 25px;
}
.footer__box{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

}
.footer__contacts{
   margin-right: 40px;
}
.footer__social{
   width: 300px;
}
.footer__social>.social__items{
   margin-left:-10px;
}
.footer__social > .social__items > div{
   background-color:#44454E;

}
.footer__social div > .social__icons{
   fill: #fff;
}
.footer__social>.social__items>div:hover{
   opacity: 1;
   background-color: #2196F3;
}
.footer__contacts>.logo{
   text-align: left;
   color: #fff;
}
.addres{
   margin-top: 33px;
   margin-bottom: 16px;
}
.email, .phone{
   margin-top: 10px;
   color:#888;
}
.icons{
   margin-bottom: -5px;
   margin-right: 5px;
   width: 20px;
   height: 20px;
   fill:#222;
}
.contacts__item:hover>.icons{
   fill:#2196F3 ;
}
.contacts__item:hover{
   color:#2196F3;
}

// ======PORTFOLIO======
.portfolo{
   padding-top: 100px;
   padding-bottom: 60px;
}
.portfolio__filter{
   margin:0px auto;

}
.portfolio__filter-list{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   margin-bottom: 40px;
}
.filter__items{
   transition:all .5s ease-in-out .0s;
   background: #F5F4FA;
   font-size:16;
   font-weight: 500;
   border-radius: 5px;
   padding: 13px;
   margin:0px 10px;
   box-shadow: 1px 1px 1px rgb(0, 0, 0,.2);
}
.filter__items:hover{
   background:#2196F3;
   box-shadow: 1px 2px 1px rgb(0, 0, 0,.2);
}
.filter__items:hover>a{
   color: #fff;
}
.portfolio__row{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}
.portfolio__items{
   position: relative;
   margin:10px 0px;
   flex-basis: 370px;
   box-shadow:1px 1px 3px rgb(0, 0, 0,.2);
}
.img__work{
   overflow: hidden;
   position:relative;
}
.img__work img{}
.hidden__container{
   z-index: 2;
   transition: all .3s ease-in-out .0s;
   overflow: hidden;
   padding:50px 20px;
   background: #2196F3;
   position:absolute;
   top: 299px;
   height: 100%;
   width: 100%;
   opacity: .4;
   color: #fff;
}
.img__work:hover>.hidden__container{
   cursor: pointer;
   top: 0px;
   opacity: .9;
}
.hidden_work__title{
   display: none;
   font-size: 18px;
   font-weight: 600;
   margin-top: 30px;
   margin-bottom: 20px;
}
.hidden_work__subtitle{
   font-size: 18px;
   font-weight: 500;
   line-height: 25px;
}
.title__box{
   background: #fff;
   padding:30px 20px;
}
.items__title{
   font-size: 18px;
   font-weight: 600;
   color: #212121;
   margin-bottom: 25px;
}
.items__subtitle{
   font-size: 16px;
   font-weight: 500;
   color: #757575;
}
// =======MODAL======
.madal__container{
   pointer-events:none;
   opacity: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   z-index: 3;
   position:fixed;
   top: 0px;
   width: 100%;
   height: 100%;
}
.modal__overlay{
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   background: rgb(0, 0, 0,.2);
}
.modal__window{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items:flex-start;
   padding: 10px;
   z-index:3;
   position: relative;
   width: 530px;
   height: 580px;
   background: #fff;
   border-radius:4px;
   box-shadow:1px 2px 2px rgb(0, 0, 0,.2);
}
.modal__icon_clouse{
   align-self: flex-end;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   width: 35px;
   height: 35px;

   border-radius: 50%;
   border:1px solid rgb(0, 0, 0,.2);
}
.modal__icon_clouse div{
   margin-left: -1px;
   width: 20px ;
   height: 20px;
}
.modal__icon_clouse div > .icons{
   fill: rgb(0, 0, 0,.5);
 }
 .modal__icon_clouse:hover{
   opacity: .6;
   cursor: pointer;
 }
.modal__forms{}